body {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-grow: 1;
}

button   {
  background-color: grey;
  color: white;
  font-size: 32px;
  border: 2px;
  border-style: solid;
}

.calcBody {
    width: 460px;
    height: 779px;
    background-color: black;
}

.numBank p{
    height: 200px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 98px;
    color: white;
    border: 2px;
  border-style: solid;
}
.bigNum {
    min-width: 230px;
}
.symbol {
    background-color: orange;
}

.buttons {
    
    
}

.rowOne {
    display: flex;
    
}

.rowTwo {
    display: flex;
    
}

.rowThree {
    display: flex;
    
}

.rowFour {
    display: flex;
    
}

.rowFive {
    display: flex;
    
    
}

.rowOne button, .rowTwo button, .rowThree button, .rowFour button, .rowFive button {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 0; 
    padding: 0; 
    height: 115px;
    width: 115px;
}