body {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-grow: 1;
}

p   {
  background-color: grey;
  color: white;
  font-size: 32px;
  border: 2px;
  border-style: solid;
}

.calcBody {
    
    background-color: black;
}

.numBank p{
    height: 200px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 98px;
}
.bigNum {
    min-width: 234px;
}
.symbol {
    background-color: orange;
}

.buttons {
    
    
}

.rowOne {
    display: flex;
    
}

.rowTwo {
    display: flex;
    
}

.rowThree {
    display: flex;
    
}

.rowFour {
    display: flex;
    
}

.rowFive {
    display: flex;
    
    
}

.rowOne p, .rowTwo p, .rowThree p, .rowFour p, .rowFive p {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 0; 
    padding: 0; 
    height: 115px;
    width: 115px;
}